.ComposerColumnFrameSurfaceLynx.ComposerColumnFrameSurfaceLynx {
  display: flex;
  width: calc(100% - 24px);
  max-width: 736px;
  align-self: center;
  flex-direction: column;
}

.SliceRoot--viewport-compact
  .ComposerColumnFrameSurfaceLynx.ComposerColumnFrameSurfaceLynx,
.SliceRoot--viewport-medium
  .ComposerColumnFrameSurfaceLynx.ComposerColumnFrameSurfaceLynx {
  max-width: calc(100% - 24px);
}
